<h2>Bills Dashboard</h2>


<button onclick="window.location.href='/Admin/GenerateBills'">
    Generate Bills
</button>
<button onclick="window.location.href='/Admin/statusOfBills'">
    View status of bills
</button>
<button onclick="window.location.href='/Admin/receheckBills'">
    Recheck Bill request
</button>

